 .u-section-1 {
  background-image: url("images/d9d9890d897c04764e1de4879d6ccd77ae076f97809ba55c9b4ba0372c086d9c959e7ab1a06a728cf1429976385ca62d346c8fe6973410218a1e6e_1280.jpg");
  background-position: 55.04% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1251px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 149px;
  margin: 89px auto 0 261px;
}

.u-section-1 .u-text-1 {
  font-weight: 300;
  margin: 11px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 5rem;
  font-weight: 700;
  font-family: Alata;
  width: 622px;
  animation-duration: 1500ms;
  margin: 83px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  width: 462px;
  line-height: 1;
  margin: 405px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 64px;
  min-height: 16px;
  width: 583px;
  min-width: 198px;
  margin: 34px auto 60px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-1 .u-icon-4 {
  height: 100%;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-icon-5 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(65, 118, 250) !important;
}

.u-section-1 .u-icon-7 {
  height: 100%;
  color: rgb(100, 65, 165) !important;
}

.u-section-1 .u-icon-8 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 85px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 67px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 308px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 56px;
    width: 521px;
    margin-bottom: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1391px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 90px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
    margin-left: 123px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 140px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 444px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 64px;
    width: 585px;
    margin-top: 68px;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-1 .u-image-1 {
    height: 141px;
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 8px;
    margin-left: 47px;
    margin-right: 47px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.25rem;
    margin-top: 95px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-3 {
    width: 421px;
    margin-top: 386px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 51px;
    width: 475px;
    margin-top: 39px;
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 52.6% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-image-1 {
    height: 89px;
    margin-top: 65px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 239px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: 170px;
    margin-top: 175px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 34px;
    width: 342px;
    margin: 28px -1px 38px;
  }
}