<!DOCTYPE html>
<html lang="en">
        <head>
            <%- include('partials/head.ejs') %>
          
        </head>
    <body>
        <div class="jm-loadingpage"></div>
        <header>
            <%- include('partials/header.ejs') %>
        </header>
        <main>
            <div class="texto-titles">
                <h3> Proximamente! </h3>
            </div>
        </main>
        <footer>
                <%- include('partials/footer.ejs') %>
        </footer>
       
    </body>
</html>