<!DOCTYPE HTML>

<html>
	<head>
		<%- include('partials/head.ejs') %>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<div class="loader"></div> 

	<body class="is-preload">
		
		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48 responsive"><img src="images/isologo.png" alt=""/></span>
						
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul >
								<li><a href="#top" id="top-link"><span class="">Inicio</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="">Qué</span></a></li>
								<li><a href="#about" id="about-link"><span class="">Quiénes</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="">Contactanos</span></a></li>
							</ul>
						</nav>

				</div>
				
				<div class="podcast">
					<head>
						<hr>
						<h5>Escucha nuestro podcast acá!</h5>
						
					</head>
					<a href="#" target="_blank" class="podcast"> <img src= "images\podcast.jpg" alt=""></a>
					<hr>
				</div>
				<div class="bottom">

					<!-- Social Icons -->
					
						<ul class="icons">
							
							<li><a href="https://www.facebook.com/waiuagency" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.linkedin.com/company/waiuagency/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://www.instagram.com/waiu.agency/" class="icon brands fa-instagram" target="_blank"><span class="label" >Instagram</span></a></li>
							<br>
							<li><a href="https://www.youtube.com/channel/UCGqtoeRjekbQ_3D6mi4DBig" class="icon brands fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
							<!-- <li><a href="https://www.tiktok.com/@waiuagency?lang=es" class="icon brands fa-tiktok" target="blank"><span class="label">Tiktok</span></a></li> -->
							<li><a href="https://www.behance.net/WAIU" class="icon brands fa-behance" target="_blank"><span class="label">Behance</span></a></li>
							<li><a href="https://www.twitch.tv/waiuagency" class="icon brands fa-twitch" target="_blank"><span class="label"> Twitch</span></a></li>
					
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">
				<a href="https://api.whatsapp.com/send?phone=+5492616756285" class="btn-flotante responsive" target="_blank"> <img src= "/images/whatsapp.png" alt=""></a>
				

				

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">
							
							<header>
								<img src="images/Recurso43.png" alt="" class="responsive">
							
								<br>
								<br>
								<p>Una buena agencia nacida en época de pandemia. <br>
									En realidad, un poco antes, pero bueno, a fines de contar una buena historia
									aceptaremos el mito.</p>
									<br>
							</header>


						</div>
					</section>


					

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container responsive" >

							<header>
								<h2>Portfolio</h2>
							</header>

							<p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
							egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
							Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
							fusce hendrerit lacus ridiculus.</p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
										<header>
											<h3>Ipsum Feugiat</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
										<header>
											<h3>Rhoncus Semper</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
										<header>
											<h3>Magna Nullam</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
										<header>
											<h3>Natoque Vitae</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
										<header>
											<h3>Dolor Penatibus</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
										<header>
											<h3>Orci Convallis</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">
							<header>
								<h2>Sobre nosotros</h2>
								<p> <strong> Cuatro personas sentadas alrededor de una mesa y con hambre, no
								necesariamente de asado, sino de ideas, de desafíos, de nuevos conceptos
								que atenten contra los parámetros oxidados de la creatividad.
								Nuestras áreas son infinitas, así como nuestras ganas de crear.
								Acompañanos.</strong>
								</p>
							</header>
						</div>
						
					<div class ="personstyle">
						<div class="person">
							<div class="containerperson">
							  <div class="containerperson-inner">
								<img class="circle"
								  src="images/fondo2.jpg"
								/>
								<img
								  class="imgperson img3"
								  src= "images/andres.png"
								/>
							  </div>
							</div>
							<div class="divider"></div>
							<div class="nameperson">Andres</div>
							<div class="titleperson">Product Manager & Senior UX</div>
						  </div>
						  <div class="person">
							<div class="containerperson">
							  <div class="containerperson-inner">
								<img class="circle"
								  src="images/fondo2.jpg"
								/>
								<img
								  class="imgperson img3"
								  src= "images/tati.png"
								/>
							  </div>
							</div>
							<div class="divider"></div>
							<div class="nameperson">Tati</div>
							<div class="titleperson">Design Master & Senior mom</div>
						  </div>
						  <div class="person">
							<div class="containerperson">
							  <div class="containerperson-inner">
								<img class="circle"
								  src="images/fondo1.jpg"
								/>
								<img
								  class="imgperson img1"
								  src= "images/juan.png"
								/>
							  </div>
							</div>
							<div class="divider"></div>
							<div class="nameperson">Juan Macias</div>
							<div class="titleperson">Senior Developer</div>
						  </div>
						  <div class="person">
							<div class="containerperson">
							  <div class="containerperson-inner">
								<img class="circle"
								  src="images/fondo1.jpg"
								/>
								<img
								  class="imgperson img2"
								  src= "images/alvaro.png"
								/>
							  </div>
							</div>
							<div class="divider"></div>
							<div class="nameperson">Alvaro</div>
							<div class="titleperson">Coffee Guy</div>
						  </div>


					</div>
						
					
						
				
				</section>


				<!-- Contact -->
				<section id="contact" class="four">
					<!-- 1 opcion -->
					<div class="sectioncontact">
						<div class="top-bordercontact leftcontact"></div>
						<div class="top-bordercontact rightcontact"></div>
						<br>
						<h2>ESCRIBINOS!</h2>
						<p>La forma mas facíl de contactarte con nosotros es a través del botón de Whatsapp, responderemos ASAP, por nuestras redes, sino podes mandarnos un email.</p>
						<a href="mailto:hola@waiuagency.com" id="contact2" > <i class="far fa-envelope"></i> </a>
				    </div> 

			
				</section>
		<!-- Footer -->
			<div id="footer">
				<%- include('partials/footer.ejs') %>
			
			</div>
			
		<!-- Scripts -->
			<script src="js/loader.js"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
			<script src="js/loader.js"></script>
			<script src="js/contact.js"></script>
					
	</body>
</html>