<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->

<!--
	ALVAROO
	
	menu hamburgesa tiene que ser el isologo!!
	el boton del podcast hay que corregirlo!!
	
	esto es una buena propuesta para hacer la pantalla de carga antes de la pag 
	https://www.codexworld.com/display-loading-image-while-page-loads-jquery-css/ esto es una buena propuesta para hacer la pantalla de carga antes de la pag -->
<html>
	<head>
		<%- include('partials/head.ejs') %>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48 responsive"><img src="images/isologo.png" alt=""/></span>
							<!-- <h1 id="title">Jane Doe</h1>
							<p>Hyperspace Engineer</p> -->
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul >
								<li><a href="#top" id="top-link"><span class="">Inicio</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="">Qué</span></a></li>
								<li><a href="#about" id="about-link"><span class="">Quiénes</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="">Contactanos</span></a></li>
								<!-- <li><a href="#top" id="top-link"><span class="icon solid fa-home">Inicio</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon solid fa-th">Qué</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon solid fa-user">Quiénes</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon solid fa-envelope">Contactanos</span></a></li> -->
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
					
						<ul class="icons">
							<header>Nuestras Redes</header>
							<li><a href="https://www.facebook.com/waiuagency" class="icon brands fa-facebook-f" target="blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.linkedin.com/company/waiuagency/" class="icon brands fa-linkedin-in" target="blank"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://www.instagram.com/waiu.agency/" class="icon brands fa-instagram" target="blank"><span class="label" >Instagram</span></a></li>
							<br>
							<li><a href="https://www.youtube.com/channel/UCGqtoeRjekbQ_3D6mi4DBig" class="icon brands fa-youtube" target="blank"><span class="label">YouTube</span></a></li>
							<!-- <li><a href="https://www.tiktok.com/@waiuagency?lang=es" class="icon brands fa-tiktok" target="blank"><span class="label">Tiktok</span></a></li> -->
							<li><a href="https://www.behance.net/WAIU" class="icon brands fa-behance" target="blank"><span class="label">Behance</span></a></li>
							<li><a href="https://www.twitch.tv/waiuagency" class="icon brands fa-twitch" target="blank"><span class="label"> Twitch</span></a></li>
							
							<!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li> -->
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">
				<a href="#" class="btn-flotante responsive"> <img src= "images\ie\waiu_the_podcast.svg" alt=""></a>

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">
							
							<header>
								<img src="images/Logotipo Estático.png" alt="" class="responsive">
								<!-- <h2 class="alt "> <br> <strong>The Agency</strong></h2> -->
								<br>
								<br>
								<p>Una buena agencia nacida en época de pandemia.
									En realidad, un poco antes, pero bueno, a fines de contar una buena historia
									aceptaremos el mito.</p>
									<br>
							</header>

							<!-- <footer>
								<a href="#portfolio" class="button scrolly">Magna Aliquam</a>
							</footer> -->

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>Portfolio</h2>
							</header>

							<p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
							egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
							Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
							fusce hendrerit lacus ridiculus.</p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
										<header>
											<h3>Ipsum Feugiat</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
										<header>
											<h3>Rhoncus Semper</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
										<header>
											<h3>Magna Nullam</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
										<header>
											<h3>Natoque Vitae</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
										<header>
											<h3>Dolor Penatibus</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
										<header>
											<h3>Orci Convallis</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">
							<header>
								<h2>Sobre nosotros</h2>
								<p> <strong> Cuatro personas sentadas alrededor de una mesa y con hambre, no
								necesariamente de asado, sino de ideas, de desafíos, de nuevos conceptos
								que atenten contra los parámetros oxidados de la creatividad.
								Nuestras áreas son infinitas, así como nuestras ganas de crear.
								Acompañanos.</strong>
								</p>
						</header>
						<div class="row aln-center">
							<div class="col-4 col-6-medium col-12-small">
								<section class="box style1">
									<div class="avatar">
										<!-- Avatar image -->
										<img class="avatar__image" src="images/pic00.jpg" />
										<h3>tati</h3>
									</div>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section class="box style1">
									<div class="avatar">
										<!-- Avatar image -->
										<img class="avatar__image" src="images/pic00.jpg" />
										<h3>mono</h3>
									</div>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section class="box style1">
									<div class="avatar">
										<!-- Avatar image -->
										<img class="avatar__image" src="images/pic00.jpg" />
										<h3>juan</h3>
									</div>
								</section>
							</div>
							<div class="col-4 col-6-medium col-12-small">
								<section class="box style1">
									<div class="avatar">
										<!-- Avatar image -->
										<img class="avatar__image" src="images/pic00.jpg" />
										<h3>alvaro</h3>
									</div>
								</section>
							</div>
						</div>

							<!-- <header>
								<h2>About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>

							<p>Tincidunt eu elit diam magnis pretium accumsan etiam id urna. Ridiculus
							ultricies curae quis et rhoncus velit. Lobortis elementum aliquet nec vitae
							laoreet eget cubilia quam non etiam odio tincidunt montes. Elementum sem
							parturient nulla quam placerat viverra mauris non cum elit tempus ullamcorper
							dolor. Libero rutrum ut lacinia donec curae mus vel quisque sociis nec
							ornare iaculis.</p> -->

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contactanos</h2>
								<p>Mandando un mensaje a <a href="https://api.whatsapp.com/send?phone=+5492616756285"target="blank">+5492616756285 </a> <br>
									
									O en cualquiera de nuestras redes</a>. <br>
									
									<!-- Si nos querés visitar, estamos en la casa gigante de 20 de junio y Rivadavia, Maipú, Mendoza.</p>
									<br>
									<div class="map-responsive">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3346.861480753674!2d-68.79350188481277!3d-32.98105618091084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa1cb868a9c810f1a!2zMzLCsDU4JzUxLjgiUyA2OMKwNDcnMjguNyJX!5e0!3m2!1ses!2sar!4v1639679911708!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
									</div>
									<br> -->
									<br>
									<h2>Deja tu contacto</h2>
							</header>
							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-small">
										<input type="text" name="name" id="name" placeholder="Nombre" />
									</div>
									<div class="col-6 col-12-small">
										<input type="text" name="email" id="email" placeholder="Email" />
									</div>
									<div class="col-12">
										<input type="text" name="subject" id="subject" placeholder="Asunto" />
									</div>
									<div class="col-12">
										<textarea name="message" id="message" placeholder="Mensaje"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<input type="submit" value="Mandar Mensaje" />
											<input type="reset" value="Limpiar" class="alt" />
										</ul>
									</div>
								</div>
								<!-- <div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div> -->
							</form>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">
				<%- include('partials/footer.ejs') %>
				<!-- Copyright -->
					<!-- <ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul> -->

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>

	</body>
</html>