<!DOCTYPE HTML>

<html>
	<head>
		<%- include('partials/head.ejs') %>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

	</head>
	<div class="loader"></div> 

	<body class="is-preload">
		
		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48 responsive"><img src="images/isologo.png" alt=""/></span>
						
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul >
								<li><a href="#top" id="top-link"><span class="">Inicio</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="">Qué</span></a></li>
								<li><a href="#about" id="about-link"><span class="">Quiénes</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="">Contactanos</span></a></li>
							</ul>
						</nav>

				</div>

				<!-- 
				<div class="podcast">
					<head>
						<hr>
						<h5>Escucha nuestro podcast acá!</h5>
						
					</head>
					<a href="#" target="_blank" class="podcast"> <img src= "images\podcast.jpg" alt=""></a>
					<hr>
				</div>
				<div class="bottom">
 				-->

					<!-- Social Icons -->
					
						<ul class="icons">
							
							<li><a href="https://www.facebook.com/waiuagency" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.linkedin.com/company/waiuagency/" class="icon brands fa-linkedin-in" target="_blank"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://www.instagram.com/waiu.agency/" class="icon brands fa-instagram" target="_blank"><span class="label" >Instagram</span></a></li>
							<br>
							<li><a href="https://www.youtube.com/channel/UCGqtoeRjekbQ_3D6mi4DBig" class="icon brands fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
							<!-- <li><a href="https://www.tiktok.com/@waiuagency?lang=es" class="icon brands fa-tiktok" target="blank"><span class="label">Tiktok</span></a></li> -->
							<li><a href="https://www.behance.net/WAIU" class="icon brands fa-behance" target="_blank"><span class="label">Behance</span></a></li>
							<li><a href="https://www.twitch.tv/waiuagency" class="icon brands fa-twitch" target="_blank"><span class="label"> Twitch</span></a></li>
					
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">
				<a href= "https://api.whatsapp.com/send/?phone=%2B5492616756285&text=Hola%2C+quisiera+obtener+m%C3%A1s+informaci%C3%B3n&app_absent=0" class="btn-flotante responsive" target="_blank"> <img src= "/images/whatsapp.png" alt=""></a>
				

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">
							
							<header>
								<img src="images/Recurso43.png" alt="" class="responsive">
								<br>
								<br>
								<p>Una buena agencia nacida en época de pandemia. <br>
									En realidad, un poco antes, pero bueno, a fines de contar una buena historia
									aceptaremos el mito.</p>
									<br>
							</header>

						</div>
					</section>


				<!-- Portfolio -->
				<section id="portfolio" class="two">
					
						<header>
							<h2>Portfolio</h2>
						</header>
						<p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
							egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
							Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
							fusce hendrerit lacus ridiculus.</p>	
							<br>
							<br>

						<div class="container">

							<div class="containerp">
								<div class="contentp">
								  	<a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> 
										<div class="contentp-overlay"></div>
										<img class="contentp-image" src="/images/PORTADAS/sesiones.jpg">
										<div class="contentp-details ">
										<h3 class="contentp-title">Sesiones</h3>
										<!-- <p class="contentp-text">This is a short description</p> -->
										</div>
									</a>
								</div>
								
							</div>

							<div class="containerp">
									<div class="contentp">
									  <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
										<div class="contentp-overlay"></div>
										<img class="contentp-image" src="/images/PORTADAS/papeleria.jpg">
										<div class="contentp-details ">
										  <h3 class="contentp-title">Papeleria</h3>
										 <!--  <p class="contentp-text">This is a short description</p> -->
										</div>
										</a>
									</div>
									
							</div>
							  
							<div class="containerp">
								<div class="contentp">
								  	<a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
										<div class="contentp-overlay"></div>
										<img class="contentp-image" src="/images/PORTADAS/branding.jpg">
										<div class="contentp-details ">
										<h3 class="contentp-title">Branding</h3>
										<!-- <p class="contentp-text">This is a short description</p> -->
										</div>
									</a>
								</div>
								
							</div>

						</div>

			<div class="container">
				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://andresalbertofrutose.myportfolio.com/" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/asim.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">ASIMÉTRICO</h3>
						  <!-- <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/canet.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">Estudio Canet & Asociados</h3>
						  <p class="contentp-text">This is a short description</p>
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/cardinal.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">Cardinal Consultora RRHH</h3>
						  <!-- <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/charparin.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">Charparin</h3>
						  <!-- <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>
				
				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/comahue.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">Custodia de archivos - COMAHUE </h3>
						  <!-- <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/dipty.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">DIPTY</h3>
						  <!-- <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/igc.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">IGC Studio</h3>
						<!--   <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/irm.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">Revista Instituto Rodeo del Medio</h3>
						  <!-- <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/jaulon.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">El Jaulón</h3>
						  <!-- <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/legen.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">Legend</h3>
						<!--   <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/mendotran.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">Séñaletica Mendotran</h3>
						  <!-- <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/seminario.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">Seminario La Enoteca</h3>
						  <!-- <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/solysuelo.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">Sol y Suelo</h3>
						  <!-- <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/verasanta.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">VeraSanta</h3>
						 <!--  <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>

				<div class="containerp">
					<div class="contentp">
					  <!-- <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank"> -->
						<div class="contentp-overlay"></div>
						<img class="contentp-image" src="/images/PORTADAS/vinculos.jpg">
						<div class="contentp-details ">
						  <h3 class="contentp-title">Vínculos</h3>
						  <!-- <p class="contentp-text">This is a short description</p> -->
						</div>
					  </a>
					</div>
				</div>
			</div>


			</section>
		 	<div class="sectioncontact2">
				<br>
				<a href="https://andresalbertofrutose.myportfolio.com/work" target="_blank" id="contact2"  >MAS PARA VER </a>
			</div>  
			<!-- About Me -->
			<section id="about" class="three">
						<div class="container">
							<header>
								<h2>Sobre nosotros</h2>
								<p>  Cuatro personas sentadas alrededor de una mesa y con hambre, no
								necesariamente de asado, sino de ideas, de desafíos, de nuevos conceptos
								que atenten contra los parámetros oxidados de la creatividad.
								Nuestras áreas son infinitas, así como nuestras ganas de crear.
								Acompañanos.
								</p>
							</header>
						</div>
						
					<div class ="personstyle">
						<div class="person">
							<div class="containerperson">
							  <div class="containerperson-inner">
								<img class="circle"
								  src="images/fondo2.jpg"
								/>
								<img
								  class="imgperson img3"
								  src= "images/andres.png"
								/>
							  </div>
							</div>
							<div class="divider"></div>
							<div class="nameperson">Andres</div>
							<div class="titleperson">Product Manager & Senior UX</div>
						  </div>
						  <div class="person">
							<div class="containerperson">
							  <div class="containerperson-inner">
								<img class="circle"
								  src="images/fondo2.jpg"
								/>
								<img
								  class="imgperson img3"
								  src= "images/tati.png"
								/>
							  </div>
							</div>
							<div class="divider"></div>
							<div class="nameperson">Tati</div>
							<div class="titleperson">Design Master & Senior mom</div>
						  </div>
						  <div class="person">
							<div class="containerperson">
							  <div class="containerperson-inner">
								<img class="circle"
								  src="images/fondo1.jpg"
								/>
								<img
								  class="imgperson img1"
								  src= "images/juan.png"
								/>
							  </div>
							</div>
							<div class="divider"></div>
							<div class="nameperson">Juan Macias</div>
							<div class="titleperson">Senior Developer</div>
						  </div>
						  <div class="person">
							<div class="containerperson">
							  <div class="containerperson-inner">
								<img class="circle"
								  src="images/fondo1.jpg"
								/>
								<img
								  class="imgperson img2"
								  src= "images/alvaro.png"
								/>
							  </div>
							</div>
							<div class="divider"></div>
							<div class="nameperson">Alvaro</div>
							<div class="titleperson">Coffee Guy</div>
						  </div>

					</div>

			</section>
			
			<!-- Contact -->
			<section id="contact" class="four">
				<div class="sectioncontact">
					<div class="top-bordercontact leftcontact"></div>
						<div class="top-bordercontact rightcontact"></div>
						<br>
						<h2>ESCRIBINOS!</h2>
						<p>La forma mas facíl de contactarte con nosotros es a través del botón de Whatsapp, responderemos ASAP, por nuestras redes, sino podes mandarnos un email.</p>
						<a href="mailto:hola@waiuagency.com" id="contact2" > <i class="far fa-envelope"></i> </a>
				</div> 
			</section>

		<!-- Footer -->
			<div id="footer">
				<%- include('partials/footer.ejs') %>
			</div>
			
		<!-- Scripts -->
			<script src="js/loader.js"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
			<script src="js/loader.js"></script>
			<script src="js/contact.js"></script>
					
	</body>
</html>