<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    
      <%- include('partials/head.ejs') %>
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">

    <title>Maintenance</title>
    
    <script class="u-script" type="text/javascript" src="../../public/js/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../../public/js/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.0.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Alata:400">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site1"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="maintenance">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>

  <header>
    <%- include('partials/header.ejs') %>
</header>

  <body class="u-body"><header class="u-clearfix u-header u-header" id="sec-7ef5"><div class="u-align-left-xs u-clearfix u-sheet"></div></header>
    <section class="u-clearfix u-image u-section-1" id="sec-55e0" data-image-width="1280" data-image-height="853">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" src="images/LogotipoEsttico.png" alt="" data-image-width="631" data-image-height="165">
        <h1 class="u-align-center-sm u-align-center-xs u-custom-font u-font-raleway u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">AGENCIA CREATIVA</h1>
        <h1 class="u-align-center u-custom-font u-text u-text-2" data-animation-name="slideIn" data-animation-duration="1500" data-animation-direction="Down" data-animation-delay="1500">PROXIMAMENTE</h1>
        <h3 class="u-align-center u-custom-font u-font-oswald u-text u-text-3">
          <span style="font-weight: 700;">IMAGEN</span>
          <br>
          <span class="u-text-custom-color-1" style="font-weight: 700;">EXPERIENCIAS</span>
          <br>
          <span style="font-weight: 700;">CONTENIDO</span>
        </h3>
        <div class="u-align-center u-social-icons u-spacing-10 u-social-icons-1">
          <a class="u-social-url" title="facebook" target="_blank" href="https://www.facebook.com/waiuagency"><span class="u-icon u-social-facebook u-social-icon u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 32 32" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fa8d"></use></svg><svg class="u-svg-content" viewBox="0 0 32 32" id="svg-fa8d"><g><path d="M32,30c0,1.104-0.896,2-2,2H2c-1.104,0-2-0.896-2-2V2c0-1.104,0.896-2,2-2h28c1.104,0,2,0.896,2,2V30z" fill="currentColor"></path><path d="M22,32V20h4l1-5h-5v-2c0-2,1.002-3,3-3h2V5c-1,0-2.24,0-4,0c-3.675,0-6,2.881-6,7v3h-4v5h4v12H22z" fill="#FFFFFF" id="f"></path>
</g></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="YouTube" href="https://www.youtube.com/channel/UCGqtoeRjekbQ_3D6mi4DBig"><span class="u-icon u-social-icon u-social-youtube u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-08bf"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-08bf"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M74.9,33.3H37.3c-7.4,0-13.4,6-13.4,13.4v18.8c0,7.4,6,13.4,13.4,13.4h37.6c7.4,0,13.4-6,13.4-13.4V46.7 C88.3,39.3,82.3,33.3,74.9,33.3L74.9,33.3z M65.9,57l-17.6,8.4c-0.5,0.2-1-0.1-1-0.6V47.5c0-0.5,0.6-0.9,1-0.6l17.6,8.9 C66.4,56,66.4,56.8,65.9,57L65.9,57z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Whatsapp" href="https://wa.me/5492612591986"><span class="u-icon u-social-icon u-social-whatsapp u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8452"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-8452"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M83.8,28.3C77.2,21.7,68.4,18,59,18c-19.3,0-35.1,15.7-35.1,35.1c0,6.2,1.6,12.2,4.7,17.5l-5,18.2L42.2,84
	c5.1,2.8,10.9,4.3,16.8,4.3h0l0,0c19.3,0,35.1-15.7,35.1-35.1C94.1,43.8,90.5,35,83.8,28.3 M59,82.3L59,82.3
	c-5.2,0-10.4-1.4-14.9-4.1l-1.1-0.6l-11,2.9L35,69.8l-0.7-1.1c-2.9-4.6-4.5-10-4.5-15.5C29.8,37,42.9,24,59,24
	c7.8,0,15.1,3,20.6,8.6c5.5,5.5,8.5,12.8,8.5,20.6C88.2,69.2,75.1,82.3,59,82.3 M75,60.5c-0.9-0.4-5.2-2.6-6-2.9
	c-0.8-0.3-1.4-0.4-2,0.4s-2.3,2.9-2.8,3.4c-0.5,0.6-1,0.7-1.9,0.2c-0.9-0.4-3.7-1.4-7.1-4.4c-2.6-2.3-4.4-5.2-4.9-6.1
	c-0.5-0.9-0.1-1.4,0.4-1.8c0.4-0.4,0.9-1,1.3-1.5c0.4-0.5,0.6-0.9,0.9-1.5c0.3-0.6,0.1-1.1-0.1-1.5c-0.2-0.4-2-4.8-2.7-6.5
	c-0.7-1.7-1.4-1.5-2-1.5c-0.5,0-1.1,0-1.7,0c-0.6,0-1.5,0.2-2.3,1.1c-0.8,0.9-3.1,3-3.1,7.3c0,4.3,3.1,8.5,3.6,9.1
	c0.4,0.6,6.2,9.4,15,13.2c2.1,0.9,3.7,1.4,5,1.8c2.1,0.7,4,0.6,5.5,0.3c1.7-0.3,5.2-2.1,5.9-4.2c0.7-2,0.7-3.8,0.5-4.2
	C76.5,61.1,75.9,60.9,75,60.5"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Instagram" href="https://www.instagram.com/waiu.agency/"><span class="u-icon u-social-icon u-social-instagram u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 1024 1024" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-25c5"></use></svg><svg class="u-svg-content" viewBox="0 0 1024 1024" id="svg-25c5"><g id="Background"><linearGradient gradientTransform="matrix(0.9397 0.3421 0.3421 -0.9397 276.2042 765.8284)" gradientUnits="userSpaceOnUse" id="bg_1_" x1="463.9526" x2="-194.4829" y1="-73.1143" y2="711.4479"><stop offset="0" style="stop-color:#20254C"></stop><stop offset="0.0571" style="stop-color:#29254D"></stop><stop offset="0.1502" style="stop-color:#41234F"></stop><stop offset="0.2679" style="stop-color:#692152"></stop><stop offset="0.4039" style="stop-color:#A01F57"></stop><stop offset="0.5333" style="stop-color:#DA1C5C"></stop><stop offset="0.5924" style="stop-color:#DC255A"></stop><stop offset="0.6889" style="stop-color:#E13D56"></stop><stop offset="0.8106" style="stop-color:#EA654E"></stop><stop offset="0.9515" style="stop-color:#F69C44"></stop><stop offset="1" style="stop-color:#FBB040"></stop>
</linearGradient><circle cx="512.001" cy="512" fill="url(#bg_1_)" id="bg" r="512"></circle>
</g><g id="Instagram_3_"><circle cx="658.765" cy="364.563" fill="#FFFFFF" r="33.136"></circle><circle cx="512.001" cy="512" fill="none" r="121.412" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="45"></circle><path d="M255.358,612.506c0,91.127,73.874,165,165,165   h183.283c91.127,0,165-73.873,165-165V411.495c0-91.127-73.873-165-165-165H420.358c-91.127,0-165,73.873-165,165V612.506z" fill="none" stroke="#FFFFFF" stroke-miterlimit="10" stroke-width="45"></path>
</g></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="LinkedIn" href="https://www.linkedin.com/company/waiuagency/"><span class="u-icon u-social-icon u-social-linkedin u-icon-5"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d965"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-d965"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
            C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
            H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Behance" href="https://www.behance.net/WAIU"><span class="u-icon u-social-behance u-social-icon u-icon-6"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-acae"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-acae"><circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle><rect x="68.5" y="35.7" fill="#FFFFFF" width="19.2" height="5.8"></rect><path fill="#FFFFFF" d="M50.1,54.1c0,0,7.1-0.5,7.1-8.8S51.4,32.9,44,32.9H19.7v46.7H44c0,0,14.8,0.5,14.8-13.8
	C58.8,65.8,59.4,54.2,50.1,54.1z M30.4,41.2H44c0,0,3.3,0,3.3,4.8s-2,5.5-4.2,5.5H30.4V41.2z M43.3,71.2h-13V58.7H44c0,0,5,0,5,6.4
	C48.9,70.6,45.2,71.2,43.3,71.2z"></path><path fill="#FFFFFF" d="M78.5,44.8c-17.9,0-17.9,17.8-17.9,17.9c0,0-1.2,17.8,17.8,17.8c0,0,16,1,16-12.4h-8.1c0,0,0.2,5-7.5,5
	c0,0-8.1,0.6-8.1-8h24.2C94.8,65.1,97.4,44.8,78.5,44.8z M70.6,58.7c0,0,1-7.2,8.1-7.2c7.1,0,7.1,7.2,7.2,7.2H70.6z"></path></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Twitch" href="https://www.twitch.tv/waiuagency"><span class="u-icon u-social-custom u-social-icon u-icon-7"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 50 50" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-a90d"></use></svg><svg class="u-svg-content" viewBox="0 0 50 50" id="svg-a90d"><path d="M45,1H5C2.8,1,1,2.8,1,5v40c0,2.2,1.8,4,4,4h40c2.2,0,4-1.8,4-4V5C49,2.8,47.2,1,45,1z" fill="currentColor"></path><g id="_x7C___x7C_"><path d="M31,36h-6l-3,4h-4v-4h-7V15.1l2-5.1h26v18L31,36z M36,27V13H15v19h6v4l4-4h6L36,27z" fill="#FFFFFF" id="Dialog"></path><rect fill="#FFFFFF" height="8" id="_x7C_" width="3" x="28" y="18"></rect><rect fill="#FFFFFF" height="8" id="_x7C__2_" width="3" x="22" y="18"></rect>
</g></svg></span>
          </a>
          <a class="u-social-url" target="_blank" title="Tiktok" href="https://www.tiktok.com/@waiuagency?lang=es"><span class="u-icon u-social-custom u-social-icon u-icon-8"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0da4"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-0da4"><path d="M256,0C114.615,0,0,114.615,0,256S114.615,512,256,512,512,397.385,512,256,397.385,0,256,0ZM385.62,232.382c-27.184,0-53.634-8.822-74-23.75l-.162,101.5a92.457,92.457,0,1,1-80.178-91.721v49.845a43.657,43.657,0,1,0,31.288,41.876V109.333h51.275a71.773,71.773,0,0,0,71.774,71.773Z"></path></svg></span>
          </a>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-40ee"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-text u-text-1">2021 - Todos los derechos reservados</p>
        <p class="u-small-text u-text u-text-variant u-text-2">Made with love @ WAIU Agency, Mendoza, Argentina</p>
      </div></footer>
  </body>
</html>