<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-40ee">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  
  <div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-text u-text-1">2021 - Todos los derechos reservados</p>
    <p class="u-small-text u-text u-text-variant u-text-2">Made with love @ WAIU Agency, Mendoza, Argentina</p>
  </div>
  
</footer>
    
    
     
     
     
     