<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/footer2.css">
    <link rel="stylesheet" href="/css/maintenance.css" media="screen">
    <link rel="stylesheet" href="/css/nicepage.css" media="screen">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>Waiu Agency</title>
</head>